// bower:scss
// endbower

@import "partials/variables";
@import "partials/mixins";

// Basecoat
@import "partials/normalize";
@import "partials/base";
@import "partials/type";
@import "partials/layout";
@import "partials/utility";
//@import "partials/fancybox";
//@import "partials/modal";


.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
html, body {margin: 0; padding: 0;}
header { 
  position: relative;
  padding-left: 2% ;
  h1 {
    margin:0;
    padding: 6px 0 0;
    font-size: 46px;
    font-weight: 500;
  }
  p {
    margin-top: 0; 
    font-weight: 300;
    font-size: 130%;
  }
  h5 {
    //clear: none;
    position: absolute;
    top: 0;
    right: 2%;
  }
}
/* nav {
  h5 {
    clear: none;
    position:absolute;
    top:0;
    left: 2%;
  }
} */
img {
  border: 1px solid $brand-color;
  margin-left: 25px;
}
/* figcaption {
  text-align: center;
} */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
//  margin-left: 1em;
}
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
//  margin-left: 1em;
}
//////// media queries /////////
@media all and (max-width: 600px) {
  body,
  header,
  .container {
    width: 100%;
  }
  nav h5,
  header h5 {
    top: auto;
  }
  img {
    width: 100%;
    height: auto;
    margin-left: 0;
  }
  .column {
    float: none;
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
  }
/*   .one-half, */
  .one-third {
    width: 100%;
    padding-top: 1em;
  }
/*   .one-half {
    padding-left: 1em;
    padding-bottom: 1em;
  } */
/*   .one-third { 
    figure {
      figcaption {
        padding-right:2em;
        padding-bottom: 1em;
      }
    }
  } */
  .footer,
  footer {
    position: relative;
    margin-left: 0;
  }
}