// Clear floats
.clearfix {
  @include clearfix;
}

// Floats
.right { float: right; }

.left { float: left; }


// Layout

// Centers content horizontally. Can be used inside or outside the grid.
.centered {
  display: block;
  float: none;
  margin-left: auto;
  margin-right: auto;
}


// Text alignment
.text-right { text-align: right; }

.text-left { text-align: left; }

.text-center { text-align: center; }

// Muted link
//
// Have a link you need to be gray to start, and blue on hover? Use this.
/* .muted-link {
  color: $brand-gray;

  &:hover {
    color: $brand-blue;
    text-decoration: none;
  }
} */
