$container-width: 980px !default;
$grid-gutter:     10px !default;

// Brand colors
//$greenish:   #e4fc80;
$text-color: #1a1a1a;
$brand-color: #C390D4;
$bg-color: #f9f9f9;
// Font stack
$body-font: casablanca-urw, sans-serif;
$headings-font: casablanca-urw, sans-serif;
// The base body size
$body-font-size: 16px !default;

