extend layouts/default

block title
  | paintings

block content

  .container
    .columns
      h2.text-center Recent paintings
      h3.text-center 
        | 16 in. x 20 in., watercolor on paper 
      
      .one-third.column
        a(href='images/barn.jpg', data-lightbox='barn')    
          img(src='images/barn-t.jpg', width='260', height='186', alt='barn')
      .one-third.column
        a(href='images/barns.jpg', data-lightbox='barns')    
          img(src='images/barns-t.jpg', width='260', height='186', alt='barns')
      .one-third.column
        a(href='images/clothesline.jpg', data-lightbox='clothesline')    
          img(src='images/clothesline-t.jpg', width='260', height='186', alt='clothesline')
      .one-third.column
        a(href='images/maple.jpg', data-lightbox='maple')    
          img(src='images/maple-t.jpg', width='260', height='186', alt='maple')
      .one-third.column
        a(href='images/woods.jpg', data-lightbox='woods')    
          img(src='images/woods-t.jpg', width='260', height='186', alt='woods')
      .one-third.column
        a(href='images/pond.jpg', data-lightbox='pond')    
          img(src='images/pond-t.jpg', width='260', height='186', alt='pond')
      .one-third.column
        a(href='images/swans.jpg', data-lightbox='swans')    
          img(src='images/swans-t.jpg', width='260', height='186', alt='swans')
      .one-third.column
        a(href='images/daisies.jpg', data-lightbox='daisies')    
          img(src='images/daisies-t.jpg', width='260', height='186', alt='daisies')
      .one-third.column
        a(href='images/flowers.jpg', data-lightbox='flowers')    
          img(src='images/flowers-t.jpg', width='260', height='186', alt='flowers')
                                            
      
          